<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nomads Abroud</title>
</head>
<body>
  <%- include('partials/_navbar') %>
  <% if (user) { %>
    <p>Welcome, <%= user.username %>!</p>
  <% } %>
  <h1>Nomads Home</h1>
  <a href="/posts">View Posts</a>
</body>
</html>